/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  
}

header {
    background-color: #b31515;
    color: white;
    text-align: center;
    padding: 20px;
    
}
.login-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #16ff8a;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.login-button:hover {
    background-color: #333;
    color: #16ff8a;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px; 
}

nav a {
    text-decoration: none;
    color: white;
   
}



.content {
    padding: 20px;
   
}


.content p {
    font-size: 16px;
    line-height: 1.5;
}

.content ul {
    margin-left: 20px;
    
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    
}

.sağ{ width:700px; margin:auto;/*margin auto soldan sağdan eşit uzaklık verdi
    yazıya*/
    }.sol{ float:left;padding:0 90px 0 10px;/*padding yukardan aşağdan sağdan
    soldan boşluk bırakmayı sağlar*/ width:400px; height: 225px;
    }
    
